{% extends 'student/student_home.html' %}

{% block title %}Submit Complaint Page{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'student/css/student.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <hr>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Submit Complaint</h1>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="id_subject">Subject</label>
                    {{ form.subject }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <label for="id_description">Description</label>
                    {{ form.description }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 offset-md-3 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>

        {% if messages %}
        <!-- Modal -->
        <div class="modal fade" id="messagesModal" tabindex="-1" role="dialog" aria-labelledby="messagesModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messagesModalLabel">Messages</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            {% for message in messages %}
                            <li class="alert {{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('#messagesModal').modal('show');
            });
        </script>
        {% endif %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
